<form>
  <label for="personName">First Name:</label>
  <input
    type="text"
    name="personFirstName"
    [(ngModel)]="changedPerson!.firstName"
    required
  />
  <label for="personLastName">Last Name:</label>
  <input
    type="text"
    name="personLastName"
    [(ngModel)]="changedPerson!.lastName"
  />
  <label for="personPhoneNumber">Phone Number:</label>
  <input
    type="number"
    name="personPhoneNumber"
    [(ngModel)]="changedPerson!.phone"
    placeholder="+90(5**)*** ** **"
    required
  />
  <label for="personBirthday">Birthday:</label>
  <input
    type="date"
    name="personBirthday"
    [(ngModel)]="changedPerson!.birthday"
  />
  <button type="button" (click)="onSave()">Save</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>
