.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 800px;
}

* {
  padding: 5px !important;
  margin: 0 !important;
}

td {
  height: 15px !important;
}

tr:hover {
  background-color: grey;
}
