<div class="container">
  <!-- invisible -->
  <app-add-person
    *ngIf="showAddContact"
    (messageEvent)="reciveSetAddToFalse($event)"
  ></app-add-person>
  <app-edit-person
    *ngIf="showEditContact"
    (messageEvent)="reciveSetEditToFalse($event)"
  ></app-edit-person>
  <app-delete-warn
    *ngIf="showDeleteContact"
    (messageEvent)="reciveSetDeleteToFalse($event)"
  ></app-delete-warn>
  <!-- visible -->
  <div class="nav">
    <p-button
      label="Add New Contact"
      icon="pi pi-plus"
      (click)="handleAddPersonComponent()"
      styleClass="p-button-sm"
    ></p-button>
    <app-searchbar (searchEvent)="onSearch($event)"></app-searchbar>
  </div>

  <div class="card">
    <!-- <button (click)="handleAddPersonComponent()">Add New Person</button> -->

    <p-table
      [value]="contactsList"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
      *ngIf="!searchTerm"
      [style]="{ height: '1px' }"
    >
      <ng-template pTemplate="header" [style]="{ height: '1px' }">
        <tr style="height: 10px">
          <th style="height: 10px">First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Birthday</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contactsList style="height: 10px">
        <tr>
          <td style="height: 10px">{{ contactsList.firstName | titlecase }}</td>
          <td>{{ contactsList.lastName | titlecase }}</td>
          <td>{{ contactsList.phone | titlecase }}</td>
          <td *ngIf="contactsList.birthday">
            {{
              contactsList.birthday.replace("T21:00:00.000Z", "") | titlecase
            }}
          </td>
          <td *ngIf="!contactsList.birthday">-</td>
          <div class="actionBtns">
            <button
              pButton
              icon="pi pi-user-edit"
              style="border: none; margin-top: 5px; margin-right: 5px"
              (click)="handleEditPersonComponent(contactsList)"
            ></button>
            <button
              pButton
              style="background-color: red; border: none"
              icon="pi pi-trash"
              (click)="handleDeletePersonComponent(contactsList)"
            ></button>
          </div>
        </tr>
      </ng-template>
    </p-table>
    <!-- filtered list -->
    <p-table
      [value]="filteredContactsList"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
      *ngIf="searchTerm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Birthday</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filteredContactsList>
        <tr>
          <td>{{ filteredContactsList.firstName | titlecase }}</td>
          <td>{{ filteredContactsList.lastName | titlecase }}</td>
          <td>{{ filteredContactsList.phone | titlecase }}</td>
          <td>
            {{
              filteredContactsList.birthday.replace("T21:00:00.000Z", "")
                | titlecase
            }}
          </td>
          <!-- <div class="card flex justify-content-center">
            <button (click)="handleEditPersonComponent(filteredContactsList)">
              Edit
            </button>
            <button (click)="handleDeletePersonComponent(filteredContactsList)">
              Delete
            </button>
          </div> -->
          <div class="actionBtns">
            <!-- <button
              pButton
              icon="pi pi-user-edit"
              style="border: none; height: 10px"
              (click)="handleEditPersonComponent(filteredContactsList)"
            ></button>
            <button
              pButton
              style="background-color: red; border: none"
              icon="pi pi-trash"
              (click)="handleDeletePersonComponent(filteredContactsList)"
            ></button> -->
          </div>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
