<div class="blur" (click)="onCancel()"></div>
<form>
  <h1>Add New Contact</h1>
  <span class="p-float-label">
    <input
      pInputText
      type="text"
      name="personFirstName"
      [(ngModel)]="createdPerson!.firstName"
      [required]="true"
    />
    <label for="personName">First Name</label>
  </span>
  <span class="p-float-label">
    <input
      pInputText
      type="text"
      name="personLastName"
      [(ngModel)]="createdPerson!.lastName"
    />
    <label for="personLastName">Last Name</label>
  </span>
  <span class="p-float-label">
    <p-inputMask
      mask="(999) 999-9999"
      [(ngModel)]="createdPerson!.phone"
      placeholder="(999) 999-9999"
      [required]="true"
      name="personPhoneNumber"
    ></p-inputMask>
    <label for="personLastName">Phone Number</label>
  </span>
  <span class="p-float-label">
    <p-calendar
      type="date"
      name="personBirthday"
      [(ngModel)]="createdPerson!.birthday"
      dateFormat="dd.mm.yy"
    ></p-calendar>
    <label for="personBirthday">Birthday</label>
  </span>
  <!-- <input
    type="date"
    name="personBirthday"
    [(ngModel)]="createdPerson!.birthday"
  /> -->
  <div class="actionBtns">
    <p-button label="Add" (click)="onAdd()"></p-button>
    <p-button
      label="Cancel"
      styleClass="p-button-raised p-button-danger"
      (click)="onCancel()"
    ></p-button>
  </div>
</form>
